<form method="post" action="{{ path('disease_delete', {'id': disease.id}) }}" onsubmit="return confirm('Jesteś pewny?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ disease.id) }}">
    <button class="btn btn-danger">Usuń</button>
</form>
