{% extends 'base.html.twig' %}

{% block title %}Edytuj Objaw{% endblock %}

{% block body %}
    <h1>Edytuj Objaw</h1>

    {{ include('disease/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('disease_index') }}" class="btn btn-primary">Powrót</a>

    {{ include('disease/_delete_form.html.twig') }}
{% endblock %}
