{% extends 'base.html.twig' %}

{% block title %}Nowy objaw{% endblock %}

{% block body %}
    <h1>Dodaj nowy objaw</h1>

    {{ include('disease/_form.html.twig') }}

    <a href="{{ path('disease_index') }}" class="btn btn-primary">Powrót</a>
{% endblock %}
