{% extends 'base.html.twig' %}

{% block title %}Edytuj Objaw{% endblock %}

{% block body %}
    <h1>Edytuj objaw</h1>

    {{ include('symptoms/_form.html.twig', {'button_label': 'Aktualizauj'}) }}

    <a href="{{ path('symptoms_index') }}" class="btn btn-primary">Powrót</a>

    {{ include('symptoms/_delete_form.html.twig') }}
{% endblock %}
