{% extends 'base.html.twig' %}

{% block title %}Nowy objaw{% endblock %}

{% block body %}
    <h1>Utwórz nowy objaw</h1>

    {{ include('symptoms/_form.html.twig') }}

    <a href="{{ path('symptoms_index') }}" class="btn btn-primary">Powrót</a>
{% endblock %}
